<html>
    <head>    
	<title> Welcome, humble travaller!</title>
    </head>

    <body>
	<div>
	    <h1>The Django Girl's Blog</hi1>
	</div>

	{% for post in posts %}
	    <div>
    		<p>published: {{ post.publish_date }}</p>
		<h1><a href="">{{ post.title }}</a></h1>
		<p>{{ post.text|linebreaks }}</p>
	    </div>
	{% endfor %}

	<div>
	    <p>published: 06.12.2014, 12:12</p>
	    <h2>My second post</h2>
	    <p>Yeah, it's cool. I'm cool. Not a biggie- having my own website, hosted on server.</p>
	</div>

    </body>
</html>
